---
const { title, image, description } = Astro.props;
let { toc } = Astro.props;

import Head from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/BaseHead.astro";
import Aside from "@components/Aside.astro";
interface Props {
  description?: string;
  image?: string;
  title: string;
  toc?: boolean;
}
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-darkBg dark:text-white px-8 md:px-24">
    <Head />
    <div class="w-full grid gap-4 mx-auto py-8">
      <main class="w-full m-auto">
        <slot />
      </main>
      <!-- <aside class="hidden lg:block">
        <Aside toc={toc} />
      </aside> -->
    </div>
    <Footer />
  </body>
</html>
