---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Prose from "@components/Prose.astro";
// import { getReadingTime } from "@lib/readtime";

type Props = CollectionEntry<"post">["data"];

const { title, description, pubDate, tags, topic, toc } = Astro.props;

const updatedDate = Astro.props.updatedDate || pubDate;
const primaryTag = tags[0];
---

<BaseLayout title={title} description="">
  <article class="w-4/5 m-auto">
    <header
      class="flex flex-row flex-wrap md:flex-nowrap md:items-center text-center md:text-left mb-16"
    >
      <picture class="mx-auto md:mx-4 my-4">
        <img
          decoding="async"
          itemprop="image"
          class="h-36"
          alt="Imagen de la etiqueta IA"
          src={"/tags/" + primaryTag + ".svg"}
        />
      </picture>
      <div class="article-header-meta">
        <h1 itemprop="name" class="font-semibold text-4xl text-balance">
          {title}
        </h1>
        <div
          id="article-meta"
          class="flex flex-row flex-wrap items-center content-between gap-4 text-gray-500 align-middle py-4"
        >
          <time
            itemprop="datePublished"
            datetime={pubDate.toString()}
            class="text-xs px-4 py-2 mx-auto"
          >
            <span class="p-2">📅</span>
            <FormattedDate date={pubDate} />
          </time>
          {
            pubDate !== updatedDate && (
              <time
                itemprop="dateModified"
                datetime={updatedDate.toString()}
                class="text-xs italic"
              >
                (actualizado el <FormattedDate date={updatedDate} />)
              </time>
            )
          }
          <!-- <span>{getReadingTime(post.astro.html)} minutes to read</span> -->

          <a
            href={"https://github.com/usarral/blog/edit/main/" + ".md"}
            target=" _blank"
            class="flex flex-row align-middle gap-2 text-xs text-gray-400 hover:text-gray-700 items-center mx-auto"
            >¿Una errata? Edita el artículo
            <picture>
              <source
                srcset="/icons/github-white.svg"
                media="(prefers-color-scheme: dark)"
              />
              <img
                decoding="async"
                alt="github logo"
                src="/icons/github.svg"
                class="h-6 w-6"
              />
            </picture>
          </a>
        </div>
      </div>
    </header>
    <Prose>
      <slot />
    </Prose>
  </article>
</BaseLayout>
